body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #030000;
  margin: 82px;
  position: relative;
  bottom: 150px;
}
/*.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
}*/

.box h1{
  color: rgb(8, 192, 63);
  display: block;
  font-weight: bold;
  text-shadow: 1px 2px rgb(8, 192, 63);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.box h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
  font-weight: lighter;
  letter-spacing: 3px;
}
label{
  color: rgb(8, 192, 63);
  font-weight: 00;
  left:100px;
}
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  font-size: 17px;
  border: 2px solid #5fb7f1;
  padding: 15px 10px;
  width: 280px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.26s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 313px;
  border-color: #2ecc71;
  background: #2ecc71;
}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.26s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}
.box h1{
  position: relative;
  left: 611px;
  top: 17px;
  font-size: 63px;
  color: #07d159;
}
.box h2{
  position: relative;
  left: 526px;
  font-size: 30px;
  color: #07d159;
}
.hasText{
  color: #07d159;
  position: relative;
  text-align: center;
}
a{
  color: #ffffff
}
